{% extends 'main.html' %}

{% block add_student %}
<div class="row">
    <div class="large-12 medium columns">
        <div class="panel">
            <h4>Выбрать студента</h4><hr>
             <form action="/search_student/{{ group_id }}" method="get">
                 {% csrf_token %}
                 <label for="fullname">Введите ФИО студента</label>
                 <input type="text" name="fullname" id="fullname">
                 <input class="small radius button mini" type="submit" value="Найти">
             </form>
                 <b>{{ error }}</b>
                {% if student %}
                    <b>{{ student.userprofile.fullname }}</b>
                     <br>
                    <a href="/add_student/{{ group_id }}/{{ student.id }}/" class="small success radius button mini add-btn">Добавить в группу</a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}