<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header-container">
  <div class="name">Группа 2136</div>
  <div class="logout">Выйти</div>
</div>
<div class="main-container">
    <h3> Группа 2136, Программа "Создание видео в Movie Maker", Дата обучения: 01.05.2018-31.05.2018</h3>
<h2>Обучающиеся</h2>
  <h3 class="study">1) Иванов Иван</h3><div class="but yes"><b>Подтвердить</b></div><div class="but no"><b>Отклонить</b></div><br>
  <h3 class="success">2) Сидоров Семен</h3><br>
    <h3 class="fail">3) Карпов Даниил</h3><br>
  <hr>
<div class="but add"><b>Добавить ученика</b></div>
</div>
</body>
</html>