{% extends 'main.html' %}
{% load staticfiles %}

{%block groups %}
<h5>Группа {{ group.group_number }}, Программа {{ group.program.program_name }}, дата обучения: {{ group.begin_date }}-{{ group.end_date }}</h5>
<div class="row">
    <div class="large-12 medium columns">
        <div class="panel">
            <h4 class="middle-header">Обучающиеся</h4>
            {% if cert %}
                <ol>
                    {% for c in cert %}
                        {% if c.status == 'issued' %}
                            <li> {% if status == 'teacher' %}
                                <a href="/student_info/{{ c.student.id }}/"><img src="{% static 'information.svg' %}"  class="delete" width="28" height="26"></a>
                                {% endif %}
                                <h5 class="inline-h student issued">{{ c.student.userprofile.fullname }}</h5>
                                <a href="/groups/{{ group.id }}/delete_student/{{ c.student.id }}/"><img src="{% static 'delete.png' %}"  class="delete" width="28" height="26"></a>
                                {% if status == 'secretary' %}
                                    <a href="#" class="small radius button mini left-marg">Печать</a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if c.status == 'not_issued' %}
                            <li>{% if status == 'teacher' %}
                                <a href="/student_info/{{ c.student.id }}/"><img src="{% static 'information.svg' %}"  class="delete" width="28" height="26"></a>
                                {% endif %}
                                <h5 class="inline-h student not_issued">{{ c.student.userprofile.fullname }}</h5>
                                 <a href="/groups/{{ group.id }}/delete_student/{{ c.student.id }}/"><img src="{% static 'delete.png' %}" class="delete" width="28" height="26"></a>
                            </li>
                        {% endif %}
                        {% if c.status == 'not_required' or c.status == 'required' %}
                            <li>{% if status == 'teacher' %}
                                <a href="/student_info/{{ c.student.id }}/"><img src="{% static 'information.svg' %}"  class="delete" width="28" height="26"></a>
                                {% endif %}
                                <h5 class="inline-h student required">{{ c.student.userprofile.fullname }}</h5>
                                 <a href="/groups/{{ group.id }}/delete_student/{{ c.student.id }}/"><img src="{% static 'delete.png' %}" class="delete" width="28" height="26"></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                <h5>{{ error_students }}</h5>
                {% endif %}
        </div>
        <a href="/add_student/{{ group.id }}/0/" class="small radius button mini">Добавить студента</a>
    </div>
</div>
{% endblock %}