{% extends 'main.html' %}
{% load staticfiles %}

{%block index_secretary %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h4 class="middle-header">Группы</h4><hr>
            <div class="group-container">
                {% if groups %}
                <ol>
                    {% for g in groups %}
                    <li>
                        <h5 class="inline-h group"><a href="/groups/{{ g.id }}/">Группа {{ g.group_number }}</a></h5>
                        <a href="/index/delete_group/{{ g.id }}/" class="delete-group"><img src="{% static 'delete.png' %}" class="delete-group" width="28" height="26"></a>
                        <p>{{ g.begin_date }} - {{ g.end_date }}, "{{ g.program.program_name }}"</p>
                    </li>
                    {% endfor %}
                </ol>
                {% else %}
                <h5>{{ error_groups}}</h5>
                {% endif %}
            </div>
            <a href="/add_group/" class="small radius button mini margin-top">Добавить группу</a>
        </div>
    </div>
</div>
{% endblock %}