{% extends 'main.html' %}

{%block certificate_student %}
<div class="row">
    <div class="large-6 medium columns">
        <div class="panel">
            <h4>Текущие курсы</h4><hr>
            {% if group %}
            <h5>Группа {{ group.group_number }}:</h5>
            <h5>{{ group.program.program_name }}</h5> <hr>
            <p><b>Дата проведения курсов:</b><br> {{ group.begin_date }} - {{ group.end_date }}<br>
            <b>Количество часов обучения:</b> {{ group.program.num_hours }}<br><br>
                <b>Преподаватели:</b><br>
                {% for t in teachers %}
                    {{ t.userprofile.fullname }},
                {% endfor %}
                <br>
                <b>Выполненные задания:</b><br>
                {% for t in result.task.all %}
                    {{ t.task_num }}. {{ t.task_title }} <br>
                {% endfor %}
            </p>
            <!--{% if cert.status == 'not_required' %}-->
                <!--<a href="/index/require_cert/{{ cert.id }}/" class="small radius button mini">Запросить сертификат</a>-->
            <!--{% endif %}-->
            {% else %}
            <h5>{{ error_program }}</h5>
            {% endif %}
        </div>
    </div>
    <div class="large-6 medium columns">
        <div class="panel">
            <h4>Полученные сертификаты</h4> <hr>
            {% if certificate %}
            <ul>
                {% for c in certificate %}
                <li><h5><a href="/show_pdf/">{{ c.program.program_name }}</a></h5></li>
                {% endfor %}
            </ul>
            {% else %}
            <h5>{{ error_certificate }}</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}