{% extends 'main.html' %}
{% load staticfiles %}


{% block student_info %}
<div class="row">
    <div class="large-12 medium columns">
        <div class="panel">
            <h4>Результаты обучения студента</h4><hr>
             <b>ФИО: </b><h5>{{ student.userprofile.fullname }}</h5>
            <b>Программа: </b><h5>{{ student.userprofile.group_for_stud.program.program_name }}</h5>
            <b>Количество часов: </b><h5>{{ student.userprofile.group_for_stud.program.num_hours }}</h5><hr>
            {% if res.certificate.status == 'issued' %}
                <b>Свидетельство об окончании обучения выдано. Пользователь успешно прошел курс</b>
            {% endif %}
            {% if res.certificate.status == 'reject' %}
                <b>В выдаче свидетельства об окончании обучения отказано. Пользователь не прошел курс</b>
            {% endif %}
            {% if res.certificate.status == 'create' and  res.approved %}
                <b>Свидетельство об окончании обучения подтверждено Вами, но пользователь не оформил все необходимые документы</b><br>
            {% endif %}
            {% if res.certificate.status == 'create' and  res.approved == False %}
                <b>Пользователь проходит обучение. Подтвердите или отклоните возможность получения свидетельства по мере
                    выполнения всех необходимых требований</b><br>
                <a href="/groups/{{ student.userprofile.group_for_stud.id }}/issue_cert/{{ res.id}}/" class="small success radius button mini">Подтвердить</a>
                <a href="/groups/{{ student.userprofile.group_for_stud.id }}/reject_cert/{{ res.id }}/" class="small alert radius button mini">Отклонить</a>
            {% endif %}
            <br>
            <hr>
            <b>Выполненные задания:</b><br>
                <div class="request-container info">
                    {% for t in res.task.all %}
                        {{ t.task_num }}. {{ t.task_title }} <br>
                    {% endfor %}
                </div>
            <hr>
            <b>Добавить задания к выполненным</b><br>
             <div class="request-container info">
                {% for t in tasks %}
                {{ t.task_num }}. {{ t.task_title }}  <a href="/add_task/{{ student.id }}/{{ t.id }}/" class="small success radius button mini">Добавить</a><br>
                {% endfor %}
             </div>
        </div>
    </div>
</div>
<a href="/groups/{{ student.userprofile.group_for_stud.id }}/" class="small alert radius button mini">Назад</a>
{% endblock %}