<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header-container">
  <div class="name">Иванов Иван, обучающийся</div>
  <div class="logout">Выйти</div>
</div>
<div class="main-container">
<h2>Полученные сертификаты</h2>
  <h3>1) Создание презентаций в Power Point</h3><br>
  <h3>2) Создание видео в Movie Maker</h3>
  <hr>
  <div class="course">
    <h2>Курсы</h2>
    <h3>1) Создание презентаций в Power Point - углубленный уровень</h3>
     <div class="but"><b>Запросить</b></div><br>
    <h3>2) Создание видео в Adobe Premiere</h3>
    <div class="but"><b>Запросить</b></div><br>
  </div>
</div>
</body>
</html>