<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header-container">
  <div class="name">Иванов Иван, преподаватель</div>
  <div class="logout">Выйти</div>
</div>
<div class="main-container">
<h2>Запросы</h2>
  <h3>1) Иванов Иван, Создание презентаций в Power Point</h3><div class="but yes"><b>Подтвердить</b></div><div class="but no"><b>Отклонить</b></div><br>
  <h3>2) Сидоров Семен, Создание видео в Movie Maker</h3><div class="but yes"><b>Подтвердить</b></div><div class="but no"><b>Отклонить</b></div><br>
  <hr>
  <div class="group">
    <h2>Группы</h2>
      <h3>1) Группа 2136</h3><div class="description">01.05.2018-31.05.2018, "Создание видео в Movie Maker"</div><br>
    <h3>2) Группа 2139  </h3><div class="description">01.04.2018-31.04.2018, "Создание видео в Adobe Premiere"</div><br>
      <h3>3) Группа 2117  </h3><div class="description">01.03.2018-31.03.2018, "Создание презентаций в Power Point"</div>
  </div>
</div>

</body>
</html>