{% extends 'main.html' %}

{%block search %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h4 class="middle-header">Поиск</h4><hr>
             <form action="/search/" method="get" class="search_form">

            {{ search_form }}
            <input class="button mini" type="submit" value="Найти">
             </form>
            {% if student %}
            <h5>{{ student }}</h5>
            {% endif %}
            {{ error }}
        </div>
    </div>
</div>

{% endblock %}